<style>
  {{data.widget.formattedContainerStyles}}
</style>

<ul id="{{data.widget.containerId}}" class="{{data.widget.listClassName}} list-widget">
  {% for item in data.widget.items %}
  <li class="parent-item">
    {{ item.item | safe }}
    <ul class="{{item.subListClassName}}">
      {% for subitem in item.subitems %}
      <li class="child-item"> {{ subitem.subitem | safe }} </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
