<div class="reaction argument-variant-{{arg.label}}" id="arg{{reaction.id}}">
  <div class="user {{'admin' if  data.isAdmin}}">

    <strong>{{reaction.user.firstName}} {{reaction.user.lastName if data.isAdmin}}</strong> | {{reaction.createdAt | date('LLL')}}

    {% if mayEdit %}
    <a href="#" type="submit" class="default edit" value="bewerken" title="Argument bewerken">&nbsp;</a>
    {% endif %}
    {% if mayDelete %}
    <form class="action delete ajax-form" method="POST" action="{{apiArgumentUrl}}/{{reaction.id}}">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="default delete" value="verwijderen" title="Reactie verwijderen">
    </form>
    {% endif %}
  </div>


  <p class="argument-content">{{reaction.description | urlize | safe}}</p>

  {% if mayEdit %}
  <form class="action argument-form argument-edit-form" method="POST" action="{{apiArgumentUrl}}/{{reaction.id}}" class="editForm">
    <input type="hidden" name="_method" value="PUT">
    <textarea name="description" rows="3" placeholder="Typ hier jouw reactie...">{{reaction.description | urlize | nlbr | safe}}</textarea>
    <input type="submit" class="btn btn-primary" value="Opslaan" title="Argument bewerken">
    &nbsp;
    <a href="#" class="edit-cancel"> Annuleer </a>
  </form>
  {% endif %}
</div>
