
/* ----------------------------------------------------------------------------------------------------
 * gridder */

 #ideas.primary {
 	box-sizing: content-box;
 	padding: 0;

   @media @phone {
 		width: 100%;
 	}
 }

#ideasList {
	&.hidden {
		display: none;
	}
}

.ideasList {
	 overflow: visible;
 }

 .ideasList .sort:before {
    margin-right: 10px;
    font-weight: 600;
    content: 'Sorteer op:';
}

 .ideasList .sort {
     width: 100%;
     margin-top: 10px;
     margin-bottom: 10px;
     text-align: right;
 }
