.link-box {
    width: 100%;
    background: #f3f3f3;
    font-size: 18px;
    color: #000;
    font-weight: 800;
    border-bottom: 2px solid #e6e6e6;
    border-right: 2px solid #e6e6e6;
    display: block;
    position: relative;
    max-width: 500px;
    text-decoration: none;
    margin: 10px 0;
    padding: 17px 15px 15px;

    &:visited, &:active, &:focus {
      color: #000;
    }
}

.filled-button, .outlined-button {
  background-color: #164995;
  color: white;
  display: inline-block;
  box-sizing: border-box;
  /*width: 151px;*/
  padding: 0 10px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 15px;
  line-height: 1.1;
  text-align: center;
  color: white;
  background-color: #164995;
  border: 2px solid #164995;
  text-shadow: none;

  &:hover, &:visited, &:focus, &:active {
    color: white;
    text-decoration: none;
  }
}

.outlined-button {
  background: white;
  border: 2px solid #164995;
  color: #164995;

  &:hover, &:visited, &:focus, &:active {
    color: #164995;
    text-decoration: none;
  }
}

.button-with-icon {
  padding-left: 58px;

  img {
    max-width: 35px;
    height: auto;
    display: inline-block;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}
