{% import 'phase-voting/ideas-list.html' as ideasList %}
{% import 'phase-voting/budgeting.html' as budgeting %}

{% set pageTitle    = 'Stemmen' %}
{% set contentClass = 'ideasList' %}
{% set activeMenu   = 'budget' %}

<div class="hide-when-loaded" style="text-align: center; padding: 30px 0;">
	{{ __('Loading...') }}
</div>

<div id="westbegroot-voting" class="begroot-container opacity-0-for-load">

	{{ budgeting.showBudgetWindow(data) }}

	<script>
	 var userHasVoted = {{data.widget.userHasVoted}};
	 var userIsLoggedIn = {{true if data.loggedIn else false}};
	 var authServerLogoutUrl = '{{authServerLogoutUrl}}';
	 var defaultSort = 'random'; //	{% if config.budgeting.isActive %}'random'{% else %}'ranking'{% endif %}
	 var siteId = '{{data.global.siteId}}';

	 var votingType = '{{data.widget.votingType}}'; // budgeting or count
	 var maxIdeas = {{data.widget.maxIdeas if data.widget.maxIdeas else 0}};
	 var minIdeas = {{data.widget.minIdeas if data.widget.minIdeas else 0}};

	 var initialAvailableBudget = {{data.widget.initialAvailableBudget if data.widget.initialAvailableBudget else 0}};
	 var minimalBudgetSpent = {{data.widget.minimalBudgetSpent if data.widget.minimalBudgetSpent else 0}};

	</script>

	<div id="begroot-content-area">
	{{
    apos.area(data.widget, 'contentArea', {
      widgets: apos.settings.getOption('contentWidgets')
    })
  }}
	</div>

	<br />

	<div id="ideasList" class="pageContent {{contentClass}}">
		{% if data.ideas.length > 0 %}
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				{% if data.global.areas and data.global.areas.length > 0 %}
				<div class="tab-selector">
					<ul>
						<li><a id="themaSelector0" href="javascript: void deactivateAll()">Alle plannen</a></li>
					</ul>
					<select id="filterSelector" class="default-select" onchange="activateFilter(this.selectedIndex)">
						<option value="0">Alle gebieden</option>
						{% for area in data.global.areas %}
						<option value="{{area.value}}">{{area.value}}</option>
						{% endfor %}
					</select>
					<a class="no-button inactive" href="javascript: void deactivateAll()">Wissen</a>
				</div>
				{% endif %}
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="sort">
					<select id="selectSort" class="default-select">
						<option default {{'selected' if data.query.sort == 'createdate_desc'}} value="createdate_desc">Nieuwste eerst</option>
						<option {{'selected' if data.query.sort == 'createdate_asc'}} value="createdate_asc">Oudste eerst</option>
						<option {{'selected' if data.query.sort == 'random'}} value="random">Willekeurig</option>
					</select>
				</div>
			</div>
		</div>
		{% endif %}

		<br />

		{{ ideasList.showIdeasList(data.widget.acceptedIdeas, fullHost, user, userHasVoted, isAdmin, data) }}
	</div>
</div>
