{% if idea.modBreak %}
<div id="modBreak">
		{% if data.global.modbreakAuthor %}
			<b>{{data.global.modbreakAuthor}} | </b>
		{% endif %}

		<b>{{idea.modBreakDateNice}}</b>
		<br>
		<p>
			{{idea.modBreak | safe | nlbr}}
		</p>
</div>
{% endif %}
