{% set idea = data.idea %}
{% set isOwner = data.openstadUser.id === idea.userId %}
{% set isOwnerOrAdmin =(isOwner or data.isAdmin) %}

{% import 'includes/numberplatebutton.html' as numberPlateButton %}

<div class="pageContent idea">
	<div id="title">
		<div>
			<div class="primary">
				{% if idea.extraData.images[0] %}
					<div class="image" style="background-image: url('{{idea.extraData.images[0]}}');"></div>
				{% elif idea.location %}
					<div class="image" style="background-image: url(
					'https://maps.googleapis.com/maps/api/streetview?size=1400x700&location={{idea.location.coordinates[0]}},{{idea.location.coordinates[1]}}&heading=151.78&key={{apos.settings.getOption('googleMapsApiKey')}}'
					);"></div>
				{% else %}
					<div class="image"></div>
				{% endif %}
				{% if idea.status == 'CLOSED' %}
					<div class="statusbalk {{idea.status}}">De stemperiode is afgelopen</div>
				{% elif idea.status == 'DENIED' %}
					<div class="statusbalk {{idea.status}}">Dit voorstel is afgewezen</div>
				{% else %}
					<div class="statusbalk {{idea.status}}">Je kunt nu op dit plan stemmen</div>
				{% endif %}
				<!--
						 <div class="ranking {{idea.status}}"><div class="label">{{idea.ranking}}</div></div>
				-->
			</div>

			<div class="secondary">
				<div class="controls">
					<h4>Stemmen</h4>

					{% if (idea.status === 'OPEN') %}
						<div class="vote">
							<form method="POST" action="/vote" class="idea-vote-form ajax-form {{ 'logged-in' if data.loggedIn else 'not-logged-in' }} ">
								<input type="hidden" name="ideaId" value="{{idea.id}}" />
								<input type="hidden" name="opinion" value="yes"/>

								{{numberPlateButton.numberPlateButton('no-of-votes-for', '', idea.yes)}}
								<button
									class="
										{{'selected' if idea.userVote.opinion == 'yes'}}
										role-required-{{data.global.roleToLike}}
									"
									data-modal-text="Log in om een plan te liken."
									data-return-to="/like?ideaId={{idea.id}}&opinion=yes"
									type="submit" name="opinion" value="yes" data-count="{{idea.yes}}">
									voor
								</button>
							</form>

							<div style="clear: both;"></div>
							<form method="POST" action="/vote" class="idea-vote-form ajax-form {{ 'logged-in' if data.loggedIn else 'not-logged-in' }} vote">
								<input type="hidden" name="ideaId" value="{{idea.id}}" />
								<input type="hidden" name="opinion" value="no"/>

								{{numberPlateButton.numberPlateButton('no-of-votes-against', '', idea.no)}}
								<button
									class="
										{{'selected' if idea.userVote.opinion == 'no'}}
										role-required-{{data.global.roleToLike}}
									"
									data-return-to="/like?ideaId={{idea.id}}&opinion=no"
									type="submit"
									name="opinion"
									value="no"
									data-count="{{idea.no}}"
								>
									tegen
								</button>
								<div style="clear: both;"></div>
							</form>
						</div>
					{% else %}
						<div class="vote disabled">
							{{numberPlateButton.numberPlateButton('no-of-votes-for', '', idea.yes)}}
							<button disabled="true" class="{{'selected' if userVote.opinion == 'yes'}}" type="button" name="opinion" value="yes" data-count="{{idea.yes}}">
								voor
							</button>
							<div style="clear: both;"></div>
							{{numberPlateButton.numberPlateButton('no-of-votes-against', '', idea.no)}}
							<button disabled="true" class="{{'selected' if userVote.opinion == 'no'}}" type="button" name="opinion" value="no" data-count="{{idea.no}}">
								tegen
							</button>
							<div style="clear: both;"></div>
						</div>
					{% endif %}

					<div class="ideaProgress">
						<div class="progress"><div class="bar {{idea.status}}" style="width: {{idea.progress*2}}%;"></div></div>
					</div>

					<div class="ideaDuration {{idea.status}}">
						<h4>Status</h4>
						<div class="duration">
							{% if idea.status == 'CLOSED' %}
								<div>De stemperiode is afgelopen</div>
							{% elif idea.status == 'DENIED' %}
								<div>Stemmen op dit voorstel is niet meer mogelijk.</div>
							{% elif idea.status == 'ACCEPTED' %}
								<div>Dit voorstel wordt besproken in de volgende vergadering!</div>
							{% elif idea.status == 'BUSY' %}
								<div>Dit voorstel wordt uitgevoerd. Lees op deze pagina over de voortgang.</div>
							{% elif idea.status == 'DONE' %}
								<div>Dit voorstel is uitgevoerd. Lees daar meer over op deze pagina.</div>
							{% else %}
								<div id="nog-xxx-om-te-stemmen"></div>
								<script>
									var endDate2 = new Date('{{idea.endDate}}');
									var daysLeft2 = parseInt( ( endDate2.getTime() - Date.now() ) / ( 24 * 60 * 60 * 1000) ) + 1;

								  document.getElementById('nog-xxx-om-te-stemmen').innerHTML = 'Nog '+ daysLeft2 +' dagen om te stemmen';
								</script>
							{% endif %}
						</div>
					</div>

					<div class="share">
						<h4>Deel dit plan</h4>
						<ul>
							<li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{idea.fullUrl | urlencode}}">Facebook</a></li>
							<li><a class="twitter"  target="_blank" href="https://twitter.com/home?status={{idea.fullUrl | urlencode}}">Twitter</a></li>
							<li><a class="email"    href="mailto:?subject={{'Plan voor Statenkwartier: '+idea.title | urlencode}}&body={{idea.fullUrl | urlencode}}">Email</a></li>
							<li><a class="whatsapp desktop" target="_blank" href="https://wa.me/?text={{idea.fullUrl | urlencode}}">WhatsApp</a></li>
							<li><a class="whatsapp mobile" href="whatsapp://send?text={{idea.fullUrl | urlencode}}" data-action="share/whatsapp/share">WhatsApp</a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
<div class="pageContent idea clearfix">
	<div class="primary">
		<h1>{{idea.title}}</h1>

		<div id="author">
			<strong>Door: {{idea.user.firstName}} {{idea.user.lastName}}</strong><br>
			{{idea.startDate | date('LL')}}
		</div>

		{% include 'includes/modbreak.html' %}

		<div class="userContent">
			<p class="summary">
				<strong>{{idea.summary | safe | nlbr}}</strong>
			</p>

			{{idea.description | safe}}
		</div>

		{% if idea.location %}
			<br/><br/>
			<div id="mapcontainer">
				{% include 'includes/openstad-map.html' %}
			</div>
		{% endif %}

	</div> <!-- #primary -->

	<div class="secondary">
		{# <h2>Volgen</h2>

		<form action="/plan/{{idea.id}}/notify">
		<input type="submit" value="Mail updates">
		</form> #}

		{% if isOwnerOrAdmin%}
		{% include 'includes/crud/edit-delete.html' %}
		{% endif %}

		{% if data.isAdmin %}
		{% include 'includes/crud/admin.html' %}
		{% endif %}
	</div>
</div>
{% if data.isAdmin %}
{% include 'includes/modal-modbreak.html' %}
{% include 'includes/modal-vote-overview.html' %}
{% endif %}
