#budget-block {
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 0;
	background-color: @light-grey2;

	@media @phone {
		//		width: calc(100% + 30px);
		//		margin-left: -15px;
	}

	#current-budget-bar {
		width: 100%;
		height: 34px;
		border: 3px solid @amsterdam-navyblue;

		.inner {
		}

		.current-budget-images {
			position: relative;
			width: calc(100% + 3px);
			height: 100%;

			&:before {
				content: " ";
				background: url(../img/westbegroot/ruitje.svg);
				width: 7px;
				height: 14px;
				top: 50%;
				margin-top: -7px;
				left: 0;
				position: absolute;
				background-repeat: no-repeat;
			}

			.idea-image-mask {
				display: block;
				float: left;
				position: relative;
				width: 40px;
				height: 100%;
				background-color: #e7e7e7;
				border-right: 3px solid @amsterdam-navyblue;
				cursor: pointer;

				&:before {
					content: " ";
					top: 0
								 left: 0;
					bottom: 0;
					right: 0;
					position: absolute;
					opacity: 0.5;
					background: #000000;
					z-index: 1;
					display: none;
				}

				&.greyed-out:before {
					display: block;
				}

				.idea-image {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					background-position: center;
					background-size: cover;
				}

				&:last-child:after  {
					content: " ";
					background: url(../img/westbegroot/ruitje.svg);
					width: 7px;
					height: 14px;
					top: 50%;
					margin-top: -7px;
					right: -9px;
					position: absolute;
					background-repeat: no-repeat;
				}

			}
		}
	}

	#steps-bar {
		display: flex;

		.step {
			display: block !important;
			position: relative;
			width: calc(100% / 4);
			height: 80px;
			background-color: @amsterdam-lightgrey;

			@media @phone {
				height: 71px;
			}

			.content {
				width: 100%;
				height: 100%;
				padding-top: 57px;
				font-size: 14px;
				font-weight: 600;
				text-align: center;

				@media @phone {
					padding-top: 46px;
					font-size: 11px;
				}

				&:before {
					position: absolute;
					top: 34px;
					left: 0px;
					right: 0px;
					height: 6px;
					background-color: white;
					content: '';

					@media @phone {
						top: 24px;
					}

				}

				&:after {
					position: absolute;
					top: 27px;
					left: calc(50% - 10px);
					width: 0px;
					height: 0px;
					border: 10px solid white;
					border-radius: 10px;
					content: '';

					@media @phone {
						top: 17px;
					}

				}

			}

			&:first-child {
				.content {
					&:before {
						left: 50%;
					}
				}
			}

			&:last-child {
				.content {
					&:before {
						right: 50%;
					}
				}
			}

			&.active {
				color: white;
				background-color: @amsterdam-navyblue;
			}

			&.active, &.passed {
				.content {
					&:after {
						position: absolute;
				    top: 24px;
				    left: calc(50% - 12px);
				    /* width: 10px !important; */
				    /* height: 10px !important; */
				    border: 7px solid white;
				    border-radius: 23px;
				    color: white;
				    background-color: #164995;
				    content: '';
				    height: 25px;
				    width: 25px;
				    display: block;
						background-color: @amsterdam-navyblue;
						content: '';


						@media @phone {
							left: 50%;
							width: 7px;
							height: 7px;
							border: 8px solid white;
							margin-left: -11px;
							top: 16px;
						}
					}
				}

			}

		}

	}
	.step {
		display: none;
	}

	#steps-content {
		position: relative;

		#current-step {
			position: relative;
			width: 100%;
			padding: 25px 44px 0 30px;
			background-color: @light-grey2;
			&.active {
				display: block;
			}

			@media @phone {
				padding: 0 15px 15px 15px;
				min-height: auto;
			}

			#content {
				font-size: 14px;
				font-weight: normal;
				line-height: 1.57;

				@media @phone {
					width: 100%;
					font-size: 14px;
					font-weight: normal;
				}

				#current-budget-preview {
					overflow: visible;

					.current-budget-images {

						&.hidden {
							display: none;
						}

						.add-button {
							float: left;
					    width: 70px;
					    height: 70px;
					    margin-right: 15px;
					    background-color: white;
					    cursor: pointer;
					    text-align: center;
					    outline: 2px dashed #e8e8e8;
					    border: 5px solid #f6f7f7;
					    margin-top: 0px;
					    font-size: 12px;
					    font-weight: normal;
					    font-style: normal;
					    font-stretch: normal;
					    line-height: 1.6;
					    padding-top: 12px;
					    outline-offset: -2px;
							margin-bottom: 15px;
						}

						.idea-image-mask {
							display: block;
							float: left;
							position: relative;
							overflow: visible;
							width: 70px;
							height: 70px;
							margin-right: 15px;
							margin-bottom: 15px;
							background-color: #e7e7e7;
							cursor: pointer;

							.idea-image {
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								width: 100%;
								background-position: center;
								background-size: cover;
							}
						}
					}
					.current-budget-table {
						overflow: visible;

						table {
							border-spacing: 0;
						}

						&.hidden {
							display: none;
						}

						.overview {
							width: 100%;
							padding: 20px 25px 10px;
							border: 2px solid #434343;
							overflow: visible;

							@media @phone {
								width: auto;
								padding: 0;
								border: none;
								/* overflow: auto; */
								margin: 15px -15px;
							}

							.idea-image-mask {
								display: block;
								float: left;
								position: relative;
								overflow: hidden;
								width: 44px;
								height: 44px;
								margin-bottom: 20px;
								margin-right: 15px;
								background-color: #e7e7e7;
								cursor: pointer;

								.idea-image {
									position: absolute;
									top: 0;
									left: 0;
									bottom: 0;
									right: 0;
									width: 100%;
									background-position: center;
									background-size: cover;
								}
							}

							.title {
								display: block;
								float: left;
								width: 360px;
								height: 44px;
								margin: 0;
								margin-bottom: 20px;
								padding: 0;
								font-size: 16px;
								font-weight: normal;
								line-height: 1.75;
							}

							.budget {
								display: block;
								float: left;
								width: 119px;
								height: 44px;
								margin-bottom: 20px;
								font-size: 16px;
								font-weight: normal;
								line-height: 1.75;
								color: @amsterdam-navyblue;
							}

						}

					}

					&.editMode {
						.current-budget-images {


							.idea-image {
								opacity: .4;
								-webkit-transition: all 40ms; /* Safari */
								transition: all 40ms;
							}

							.idea-image-mask {
								cursor: pointer;

								&:after {
									-webkit-transition: all 40ms; /* Safari */
									transition: all 40ms;
									content: "Verwijder";
									position: absolute;
									top: 50%;
									margin-top: -6px;
									font-size: 12px;
									font-weight: 600;
									line-height: 1;
									text-shadow: 0 0 2px #fff;
									text-align: center;
									left: 0;
									right: 0;
									z-index: 1;
									color: #000;
								}
							}

							.idea-image-mask:hover {
								.idea-image {
									outline: 2px solid black;
									outline-offset: -2px;
								}

								&:after {
									color: red;
									text-decoration: underline;
									font-weight: 600;
								}
							}
						}
					}

				}

				#budgeting-edit-mode-container {

					&.hidden {
						display: none;
					}
				}

			}

			#budget-text {
				float: left;
				font-size: 15px;
				font-weight: normal;
				line-height: 1.57;

				@media @phone {
					width: 100%;
					font-size: 14px;
					font-weight: normal;
				}

			}

		}
	}

	#button-bar {
		position: relative;
    width: 100%;
    right: 0px;
    bottom: 0px;
    height: 65px;
    margin-bottom: 24px;
		@media @phone {
			background-color: @amsterdam-lightgrey;
		}

		#previous-button {
			position: absolute;
	    bottom: 0;
	    left: 40px;
	    padding-left: 18px;
	    font-weight: 600;
	    color: #004699;
	    cursor: pointer;
	    top: 50%;
	    margin-top: -20px;

			&:before {
				position: absolute;
				top: 2px;
				left: 0;
				width: 8px;
				height: 14px;
				content: '';
				background-size: 8px 14px;
				background-repeat: no-repeat;
				background-image: url('/img/arrow_left_blue.svg');
			}

			&.hidden {
				display: none;
			}

			@media @phone {
				font-size: 14px;
		    top: 40px;
		    left: 15px;
		    padding-left: 16px;

				&:before {
					top: 5px;
					width: 7px;
					height: 12px;
					background-size: 7px 12px;
				}
			}

		}

		#next-button {
			position: absolute;
    	top: 0;
			right: 57px;
			padding: 11px 8px 11px 15px;
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			color: white;
			background-color: @amsterdam-navyblue;
			cursor: pointer;
			opacity: .5;

			&.active {
				opacity: 1;

				&:hover {
					background-color: @amsterdam-navyblue-hover;
					&:before {
						border-left-color: @amsterdam-navyblue-hover;
					}
				}

			}

			&.hidden {
				display: none;
			}

			&:before {
				position: absolute;
				border-left: 17px solid @amsterdam-navyblue;
				border-top: 22px solid transparent;
				border-bottom: 22px solid transparent;
				border-right: 0;
				top: 0px;
				right: -17px;
				width: 0px;
				height: 0px;
				content: '';
			}

			@media @phone {
				top: 15px;
				right: 30px;
				padding: 8px 11px 7px 15px;
				font-size: 14px;
				line-height: 19px;
				height: 34px;

				&:before {
					border-left: 14px solid @amsterdam-navyblue;
					border-top: 17px solid transparent;
					border-bottom: 17px solid transparent;
					border-right: 0;
					right: -14px;
				}
			}
		}
	}

	#waitLayer {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: white;
		opacity: .6;
		z-index: 10000;

		&.hidden {
			display: none;
		}
	}

	.checkmark-block-green {
		width: 100%;
		margin: 20px 0 10px;
		padding: 3px 0 0 56px;
		background-position: 0px 1px;
		background-size: 30px 30px;
		background-repeat: no-repeat;
		background-image: url('/img/checkmark-dot-green.svg');

		h4 {
			padding: 0;
			margin: 0;
		}
	}

	.error {
		padding-left: 15px;
		color: @amsterdam-red;
		border-left: 2px solid @amsterdam-red;
		margin-bottom: 15px;

		&:before {
			display: block;
			padding-bottom: 6px;
			font-size: 13px;
			font-weight: 600;
			padding-bottom: 10px;
			content: attr(data-error-content);
		}
	}
}

.error-block {
	width: 100%;
	margin-top: 30px;
	padding: 9px 15px;
	font-weight: normal;
	color: @amsterdam-red;
	border: 2px solid @amsterdam-red;
}

.success-block {
	width: 100%;
	margin-top: 30px;
	padding: 9px 15px;
	font-weight: normal;
	color: green;
	border: 2px solid green;
}

#budget-block .idea-image-mask {
	.idea-image {
		transition: box-shadow 0.4s;
	}

	.idea-image:before{
		content: " ";
		transition: opacity 0.4s;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		opacity: 0;
		background: #000000;
		z-index: 2;
	}

	&.active.not-target {
		.idea-image {
			box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.5) !important;
			transform: scale(1.04, 1.04);
			z-index: 1000;
			position: relative;
		}
	}

	&.greyed-out {
		.idea-image:before{
			transition: box-shadow 0.04s;
			opacity: 0.5 !important;
			z-index: 2;
		}
	}
}
