{% from 'number-plate.njk' import numberPlate %}

<style>
  {{data.widget.formattedContainerStyles}}
</style>



{% if data.widget.url %}
<a href="{{data.widget.url}}"
{% else %}
<span
{% endif %}
  id="{{data.widget.containerId}}"
  class="margin-bottom-xs scroll-link block no-decoration"
>
	<span class="box-blue block">
		{{numberPlate(data.widget.count)}}
    {{data.widget.label}}
	</span>
{% if data.widget.url %}
</a>
{% else %}
</span>
{% endif %}
