<div class="form-group">
  <h3>Afbeelding </h3>

  <div class="uploader">
    <label>
        Sleep de afbeelding(en) naar deze plek
        <br /> of klik hier om een afbeelding te uploaden
    </label>
    <div class="icon"></div>
    <input type="file" class="preview-file-input" name="data[image]" />
  </div>
</div>


<script>
function initFilePreview() {
  $('.preview-file-input').on('change', function(e) {
    var reader = new FileReader();
    var $uploader = $(this).closest('.uploader');
    var $img = $uploader.find('img');

    if ($img.length === 0) {
      $img = $('<img class="preview-img" />');
      $uploader.append($img);
    }

    reader.onload = function (event) {
      $img.attr('src', event.target.result);
      $uploader.addClass('active');
    }

    reader.readAsDataURL(e.target.files[0]);
  });
}

(function($) {
  initFilePreview();
}(jQuery))
</script>
