<style>
  {{data.widget.formattedContainerStyles}}
</style>

<div id="{{data.widget.containerId}}" class="howDoesItWork {% if data.widget.sectionOpen %}open{% else %}closed{% endif %}"  >
	<a class="howDoesItWorkButton" href="javascript: (function() { if( $('.howDoesItWork').hasClass('open') ){ $('.howDoesItWork').removeClass('open'); $('.howDoesItWork').addClass('closed'); } else { $('.howDoesItWork').removeClass('closed'); $('.howDoesItWork').addClass('open'); }   })()" style="outline: 0;">
		{{data.widget.title}}
		<img class="arrow" src="/img/arrow_down_white.svg" width="13" heigh="13" style="display: inline-block; margin-left: 12px;"/>
	</a>
	<div class="container">
		<div class="pageContent">
			<div class="steps">
				{% for step in data.widget.steps %}
				<div class="step">
					<img
						class="step-image"
						src="{{apos.attachments.url(step.image)}}"
						style="{% if data.widget.imageHeight %} height:	{{data.widget.imageHeight}}; {% endif %}"
					/>
					<div class="step-header">{{step.title}}</div>
					<p class="step-text">
						{{step.description | safe }}

						{{apos.log(step.description)}}

						{% if step.linkUrl %}
						<ul>
							<li>
								<a href="{{step.linkUrl}}">{{step.linkTitle}}</a>
							</li>
						</ul>
						{% endif %}
					</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
