<style>
  {{data.widget.formattedContainerStyles}}
</style>

<div id="{{data.widget.containerId}}" class="agenda">
{% for item in data.widget.items %}
  <div class=" {{'agenda-period' if (item.period === true) or (item.period === 'period') else 'agenda-day' }}">
    <div>
      <h3> {{item.title | safe}} </h3>
      {% if item.actionText %}
      {{item.actionText}}
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
